* {
  box-sizing: border-box;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: green;
}

h2 {
  color: blue;
}

.phonebook {
  max-width: 550px;
  width: 90%;
}

form div {
  margin-bottom: 10px;
}

ul {
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}

.message-main {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.error {
  color: red;
}

.message {
  color: green;
}